<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="/css/front.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <noscript>
      JavaScript is disabled. App will not run correctly.
    </noscript>

    <div id="hello"></div>
    <script data-union-widget="hello" data-union-container="hello" type="application/json">
      {"user": {"name":"Petr Neportal "}}
    </script>

    <!--<div id="content"></div>
    <script data-union-widget="content" data-union-container="content" type="application/json">
    {
      "messages": {
        "heading": "Welcome",
        "content": "This is sample server content."
      }
    }
    </script>-->
  </body>
</html>
