<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="/css/front.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <noscript>
      JavaScript is disabled. App will not run correctly.
    </noscript>
    <div id="product-filter-header"></div>
    <div id="product-list"></div>
    <div id="product-filter-footer"></div>

    <script data-union-widget="product-list" data-union-container="product-list" type="application/json">{"user": {"name":"Petr Neportal "}}</script>
    <script data-union-widget="product-filter" data-union-container="product-filter-header" type="application/json">{}</script>
    <script data-union-widget="product-filter" data-union-container="product-filter-footer" type="application/json">{}</script>
  </body>
</html>
